<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>build</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>atlassian</id>
					<url>https://maven.atlassian.com/content/repositories/atlassian-public</url>
				</repository>
				<repository>
					<id>atlassian2</id>
					<url>https://maven.atlassian.com/content/groups/public</url>
				</repository>
				<repository>
					<id>java.net.repository</id>
					<url>https://maven.atlassian.com/content/repositories/atlassian-public</url>
				</repository>
				<repository>
					<id>jms</id>
					<url>http://www.datanucleus.org/downloads/maven2</url>
					<releases>
						<checksumPolicy>warn</checksumPolicy>
          			</releases>
				</repository>
				<repository>
					<id>jfrog</id>
					<url>http://dl.bintray.com/jfrog/jfrog-jars</url>
				</repository>
				<repository>
					<id>jcenter</id>
					<url>http://jcenter.bintray.com/</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>atlassian</id>
					<url>https://maven.atlassian.com/content/repositories/atlassian-public</url>
				</pluginRepository>
				<pluginRepository>
					<id>atlassian2</id>
					<url>https://maven.atlassian.com/content/groups/public</url>
				</pluginRepository>
				<pluginRepository>
					<id>java.net.repository</id>
					<url>https://maven.atlassian.com/content/repositories/atlassian-public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>

